/* Existing styles */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.data-display {
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

select {
  margin: 10px;
}

/* New styles for fade transitions */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.app-container {
  position: relative;
}

.menu {
  position: fixed;
  top: 190px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.25); /* 25% opacity */
  padding: 10px;
  border-radius: 5px;
  z-index: 3;
}

.menu a, .menu button {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.menu button:hover, .menu a:hover {
  text-decoration: underline;
}

.status-icon {
  position: fixed;
  top: 150px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 3;
}

/* Ensuring the gradient background is always present */
body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: background 0.1s ease;
  color: #fff;
  overflow-x: hidden; /* Prevent horizontal overflow */
  background: radial-gradient(circle, #003057, #001F3D);
}

.content {
  margin-top: 200px; /* Adjust this value as needed to move content below waves */
  padding: 20px;
}

/* Additional padding for left side */
.page-container {
  padding-left: 0px; /* Adjust as necessary to fix scaling/padding issue */
}

/* Fix wave container width */
.wave-container {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 0;
}

/* New styles for changing menu colors */
:root {
  --menu-background-color: #286090;
  --menu-text-color: #FFFFFF;
  --button-color: #286090;
}

.NavigationMenuRoot {
  background-color: var(--menu-background-color);
}

.NavigationMenuList {
  position: fixed ;
  top: 180px;
  right: 10px;
  width: 96px;
  background-color: var(--menu-background-color);
  padding: 10px;
  border-radius: 8px;
  z-index: 999;
}

.NavigationMenuLink {
  color: var(--menu-text-color);
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.NavigationMenuLink:hover {
  text-decoration: underline;
}

.NavigationMenuTrigger {
  background: none;
  border: none;
  color: var(--menu-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
}

button, .data-display {
  background-color: var(--button-color);
  color: var(--menu-text-color);
}

.data-column {
  background: var(--menu-background-color);
  border: 0px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: calc(33.33% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-height: 500px;
  overflow-y: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
