/* src/LoginConfirmation.css */
.confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .confirmation-message {
    background-color: rgba(44, 106, 169, 0.658);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .confirmation-message h2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .confirmation-message p {
    color: white;
  }
  