.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .profile-content {
    background-color: var(--menu-background-color); /* Updated to use menu background color */
    opacity: var(--data-column-alpha); /* New */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  
  .profile-content h2 {
    margin-bottom: 20px;
    color: var(--menu-text-color);
  }
  
  .profile-content p {
    color: var(--menu-text-color);
  }
  
  .color-picker {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .color-picker label {
    margin-right: 10px;
    color: var(--menu-text-color);
  }
  
  button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: 1px solid #ccc; /* Added border */
    border-radius: 4px;
    background-color: var(--button-color);
    color: var(--menu-text-color);
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
    border: 1px solid #aaa; /* Change border color on hover */
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  @media (max-width: 600px) {
    .profile-content {
      width: 90%;
      padding: 15px;
    }
  }
